.lldt-lookup input.input-sm{ font-size: 12px; cursor: pointer; padding: 5px 10px; }
.lldt-container{ padding-top: 2em; }
.lldt-legislators{ padding: 0; }
.lldt-legislators label{ display: block;}
.lldt-legislators img{ max-width: 100%; display: block; cursor: pointer; }
.lldt-legislators input{ display: none; }
.lldt-legislators p.contact{ margin: 0; text-overflow: wrap; line-height: 20px }
.lldt-legislators p.contact.name{ font-weight: bold; font-size: 14px; margin: 0.5em 0 0.25em; cursor: pointer; }
.lldt-legislators p.contact.name label{ font-size: 14px; text-transform: none; cursor: pointer; }
.lldt-actions{ margin-top: 2em; }

.lldt-script-text{ /* */ }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }